# Web Framework & API
fastapi==0.110.0
uvicorn==0.27.1

# Data Validation
pydantic==2.10.6
email_validator==2.2.0

# Authentication & Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Environment Configuration
python-dotenv==1.0.1

# HTTP Requests (for Discord/Slack webhooks)
requests==2.32.3

# LangChain Ecosystem
langchain-core==0.3.46
langchain-community==0.3.20
langchain-openai==0.3.9
langchain-postgres==0.0.15
langgraph==0.3.18
langsmith==0.3.18

# Database & Storage
psycopg2-binary
sqlalchemy==2.0.35
pgvector

# ML
pandas==2.3.2
scikit-learn==1.7.1
joblib==1.5.2

# S3
boto3

# OpenAI
openai==1.109.1

# report
reportlab==4.4.4